<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" th:src="@{/js/date-settings.js}"></script>
</head>
<body>
    <div id="buttonBack">
        <input type="button" id="tableButton" onclick="location.href='/'" value="Back to Registration" />
        <p></p>
    </div>
    <div id="deleteForm">
        <form action="#" th:action="@{/delete}" method="post">
            <fieldset>
                    <h2>Delete Appointments</h2>
                    <p></p>
                    <p>* Choose which appointments you want to delete by using checkbox</p>
                    <input type="submit" id="submitButton" th:value="#{delete.button}"/>
                    <p></p>
                <table>
                    <thead>
                        <tr>
                           <th th:text="#{dentist.name}">dentist.name</th>
                           <th th:text="#{appointment.dateAndTime}">appointment.dateAndTime</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${form.empty()}">
                            <td colspan="2" th:text="#{appointments.none}"> appointments.none </td>
                        </tr>
                        <tr th:each="appointment, itemStat : ${form.appointments}">
                            <td><span th:text="${appointment.dentistName}" > Dentist </span></td>
                            <td><span th:text="${appointment.appointmentDateTime}" > Appointment </span></td>
                            <td><input type="checkbox" name="appointmentIds" th:value="${appointment.getId()}" /></td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </form>
        <h3 th:text="${error}"></h3>
    </div>
</body>
</html>