<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" th:src="@{/js/date-settings.js}"></script>
    <script type="text/javascript" th:src="@{/js/appointment-table-settings.js}"></script>
</head>
<body onload="setDefaultDateAndMinDateToToday(); showAppointmentTable()">
<form action="#" th:action="@{/}" th:object="${dentistAppointmentDTO}" method="post">
    <table>
        <tr>
            <td><p th:text="#{dentist.name}">dentist.name</p></td>
            <td>
                <select th:field="*{dentistName}">
                    <option value = "Galerius Maximus">Galerius Maximus</option>
                    <option value = "Lucretia Amata">Lucretia Amata</option>
                    <option value = "Equitia Clara">Equitia Clara</option>
                    <option value = "Horatius Fulgencio">Horatius Fulgencio</option>
                    <option value = "Malleolus Paulus">Malleolus Paulus</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><p th:text="#{appointment.dateAndTime}">appointment.dateAndTime</p></td>
            <td><input type="datetime-local" id="dateTimePicker" step="3600" onchange="checkCorrectTime()" th:field="*{appointmentTime}"/></td>
        </tr>
        <tr>
            <td>
                <button type="submit" th:text="#{register.appointment}"></button>
            </td>
        </tr>
    </table>
</form>
<input type="button" id="tableButton" onclick="showAppointmentTable(); changeButtonValue()" value="Show Appointment Table" />
<div id="appointmentTable">
    <table>
        <thead>
        <tr>
            <th> Dentist </th>
            <th> Appointment </th>
            <th> <input type="button" id="editButton" onclick="location.href='/edit'" value="Edit Appointments" /> </th>
            <th> <input type="button" id="deleteButton" value="Delete Appointments" /> </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${appointments.empty()}">
            <td colspan="2"> No Appointments have been made </td>
        </tr>
        <tr th:each="appointment : ${appointments.getAppointments()}">
            <td><span th:text="${appointment.dentistName}"> Dentist </span></td>
            <td><span th:text="${appointment.appointmentTime}"> Appointment </span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>