<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <script type="text/javascript" th:src="@{/js/date-settings.js}"></script>
</head>
<body>
<input type="button" id="tableButton" onclick="location.href='/'" value="Back to Registration" />
<div id="appointmentTable">
  <form action="#" th:action="@{/delete}" method="post">
    <fieldset>
      <h2>Delete Appointments</h2>
      <p></p>
      <input type="submit" id="submitButton" th:value="Delete"/>
      <p>Choose which appointments you want to delete</p>
      <table>
        <thead>
        <tr>
          <th> Dentist </th>
          <th> Appointment </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="appointment, itemStat : ${form.appointments}">
          <td>
            <span th:text="${appointment.dentistName}" > Dentist </span>
          </td>
          <td>
            <span th:text="${appointment.appointmentTime}" > Appointment </span>
          </td>
          <td>
            <input type="checkbox" name="appointmentIds" th:value="${appointment.getId()}" />
          </td>
        </tr>
        </tbody>
      </table>
    </fieldset>
  </form>
  <h3 th:text="${error}"></h3>
</div>
</body>
</html>