<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" th:src="@{/js/set-default-date.js}"></script>
</head>
<body onload="setDefaultDateAndMinDateToToday()">
<form action="#" th:action="@{/}" th:object="${dentistAppointmentDTO}" method="post">
    <table>
        <tr>
            <td><p th:text="#{dentist.name}">dentist.name</p></td>
            <td>
                <select th:field="*{dentistName}">
                    <option value = "Galerius Maximus">Galerius Maximus</option>
                    <option value = "Lucretia Amata">Lucretia Amata</option>
                    <option value = "Equitia Clara">Equitia Clara</option>
                    <option value = "Horatius Fulgencio">Horatius Fulgencio</option>
                    <option value = "Malleolus Paulus">Malleolus Paulus</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><p th:text="#{appointment.dateAndTime}">appointment.dateAndTime</p></td>
            <td><input type="datetime-local" id="dateTimePicker" th:field="*{appointmentTime}"/></td>
        </tr>
        <tr>
            <td>
                <button type="submit" th:text="#{register.appointment}"></button>
            </td>
        </tr>
    </table>
</form>
<input type="button" id="tableButton" value="Show Appointment Table" onclick="location.href='show-appointments'"/>
</body>
</html>