<html>
<head>
    <script>
/*<![CDATA[*/
function setDefaultDateAndMinDateToToday() {

    var today = new Date();

    var mm = today.getMinutes();
    var hh = today.getHours();
    var dd = today.getDate();
    var MM = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();


    if(mm<10){
        mm='0'+mm
    }

    if(hh<10){
        hh='0'+hh
    }

    if(dd<10){
        dd='0'+dd
    }

    if(MM<10){
        MM='0'+MM
    }



    var todayString = yyyy + '-' + MM + '-' + dd + 'T' + hh + ':' + mm;

    document.getElementById("dateTimePicker").value = todayString;
    document.getElementById("dateTimePicker").setAttribute("min", todayString);

    // got it from https://stackoverflow.com/questions/32378590/set-date-input-fields-max-date-to-today
}
/*]]>*/
</script>

</head>
<body onload="setDefaultDateAndMinDateToToday()">
<form action="#" th:action="@{/}" th:object="${dentistAppointmentDTO}" method="post">
    <table>
        <tr>
            <td><p th:text="#{dentist.name}">dentist.name</p></td>
            <td>
                <select th:field="*{dentistName}">
                    <option value = "Galerius Maximus">Galerius Maximus</option>
                    <option value = "Lucretia Amata">Lucretia Amata</option>
                    <option value = "Equitia Clara">Equitia Clara</option>
                    <option value = "Horatius Fulgencio">Horatius Fulgencio</option>
                    <option value = "Malleolus Paulus">Malleolus Paulus</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><p th:text="#{appointment.dateAndTime}">appointment.dateAndTime</p></td>
            <td><input type="datetime-local" id="dateTimePicker" th:field="*{appointmentTime}"/></td>
        </tr>
        <tr>
            <td>
                <button type="submit" th:text="#{register.appointment}"></button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>